<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password</title>
</head>
<body>
  <form action="/dashboard/changepassword?_method=PATCH" method="POST">
    <label for="passwordLama">Password Lama</label>
    <input type="password" name="passwordLama" id="passwordLama"> <br>
    <label for="passwordBaru1">Password Baru</label>
    <input type="password" name="passwordBaru1" id="passwordBaru1"> <br>
    <label for="passwordBaru2">Ketik Ulang Password Baru</label>
    <input type="password" name="passwordBaru2" id="passwordBaru2"> <br>
    <button>Ganti Password</button>
  </form>
</body>
</html>