<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Status Mahasiswa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

  </head>
  <body style="background-color: rgb(200, 199, 238);">
    
    <div class="container">

        <div class="row m-3 justify-content-center mt-4 ">
          <div  class="col-md-10 bg-light  shadow rounded p-4  ">
            <h3 class="text-center pb-3" style="border-bottom: 1px solid rgb(85, 87, 221);">Daftar Laporan Praktikum</h3>
            <div class="row pt-2 d-flex justify-content-between">
                <div class="col-8 d-flex border justify-content-between  py-3">
                  <table class="table ">
                    <thead>
                      <tr>
                        <td class="h5">Nama</td>
                        <td class="h5">: Dimas Yudistira</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="h5">Nim</td>
                        <td class="h5">: 0701213127</td>
                      </tr>
                      <tr>
                        <td class="h5">Angkatan</td>
                        <td class="h5">: 2021</td>
                      </tr>
                      <tr>
                        <td class="h5">Asisten Lab</td>
                        <td class="h5">: Dimas Yudastira</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
                <div class="col-4  ">
                    <div class="dropdown mb-3 float-end">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Keterangan
                      </button>
                      <div style="width: 46vh;" class="dropdown-menu p-2">
                        <div class="row p-2">
                          <li class="p-2"><button class="btn btn-sm btn-secondary"><i class="bi bi-calendar"></i></button> Belum Mengumpul</li>
                          <li class="p-2"><button class="btn btn-sm btn-warning"><i class="bi bi-calendar-x"></i></button> Revisi </li>
                          <li class="p-2"><button class="btn btn-sm btn-primary"><i class="bi bi-calendar2-check-fill"></i></button> Tanda tangan Aslab</li>
                          <li class="p-2"><button class="btn btn-sm btn-success"><i class="bi bi-calendar2-check-fill"></i></button> Tanda tangan Laboran</li>
                        </div>
                      </div>
                  </div>
                </div>
                
            </div>

            <div class="row">
              <div class="row justify-content-between">
                            <div class="col">
                              
                            </div>
                            <div class="col">
                             
                            </div>
              </div>

                            <div class=" row mt-3">
                               <div class="col-12 d-flex flex-row-reverse">
                                Ingin menambah mahasiswa ini ke kelas kamu?  
                               </div>
                               <div class="col d-flex flex-row-reverse justify-content-between mt-1">
                                <a class="btn btn-primary " href="/dashboard/add/<%= datas[0].nim %>">Tambah</a>
                                <a class="btn btn-secondary float-end " href="/dashboard">Kembali</a>
                               </div>
                            </div>

            </div>

            <div class="col">
                
            </div>

              <div class="col shadow border p-3 mb-5 mt-5 " >
                  <div class="dropdown mb-3">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Jaringan Syaraf Tiruan | V/IK-2
                      </button>
                      <div style="width: 46vh;" class="dropdown-menu p-2">
                        <div class="row">
                          <div class="col-sm-4">
                              <span><b>Dosen</b> </span> <br>
                              <span><b>Laboran</b> </span> <br>
                            </div>
                            <div class="col">
                              <span>: Armansyah M.Kom</span><br>
                              <span>: Lutfhi Faturahman</span><br>
                            </div>
                        </div>
                      </div>
                    </div>

                  <div class="col overflow-auto">
             <form action="/dashboard/results?_method=PATCH" method="post">
              <input type="hidden" name="id_status" value="<%= data.id_status %>">
                      <table style="overflow: auto; width: 120vh;" class="table border table-hover ">
                        <tbody>
                            <tr class="text-center ">
                              <th scope="col">Modul 1</th>
                              <th scope="col">Modul 2</th>
                              <th scope="col">Modul 3</th>
                              <th scope="col">Modul 4</th>
                              <th scope="col">Modul 5</th>
                              <th scope="col">Modul 6</th>
                              <th scope="col">Modul 7</th>
                              <th scope="col">Modul 8</th>
                            </tr>
                          
                        
                            <tr class="text-center">
                             
                              <td>
                                <select class="form-select" >
                                  <option selected>Belum Mengumpul</option>
                                  <option value="1">Revisi</option>
                                  <option value="2">TTD Aslab</option>
                                  <option value="3">TTD Laboran</option>
                                </select>
                              </td>
                              
                            </tr>
                          </tbody>
                      </table>

                  </div>
                  <div class="row justify-content-between flex-row-reverse my-3">
                    <div class="col-2">
                      <button class="btn btn-primary">Perbaharui</button>
                    </div>
                    <div class="col-3">
                     
            </form>

            <form action="/dashboard/deleteFromClass?_method=DELETE" method="POST">
              <input type="hidden" name="id" value="<%= data.id_status %>">
              <button class="btn btn-danger">Hapus dari Kelas</button>
            </form>
                    </div>
                  </div>

              </div>

          </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
    
  </body>
</html>