<!DOCTYPE html>
<html lang="in">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Login</title>
</head>
<body>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Register</h1>
			<br>
			<input type="text" placeholder="Nama" disabled/>
			<input type="email" placeholder="Email" disabled/>
			<input type="password" placeholder="Password" disabled/>
			<span>Atau daftar dengan</span>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<br>
			<button disabled>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<% if (messages.error) { %>
			<div class="alert alert-danger alert-dismissible">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Error!</strong>
				<br/>
				<%- messages.error %>
			</div>
		<% } %> 
		<% if (messages.success) { %>
			<div class="alert alert-success alert-dismissible">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Success!</strong> <br/>
				<%- messages.success %>
			</div>
		<% } %>
		<form action="" method="post">
			<h1>Login</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<input type="text" name="username" placeholder="Username" value="z6ro99" required/>
			<input type="password" name="password" placeholder="Password" value="debugging123" required/>
			<a href="#">Lupa Password Anda?</a>
			<button type="submit" id="button">Login</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Pendaftaran Sudah Tutup</h1>
				<p>Maaf, Untuk registrasi asisten laboratorium sudah ditutup, silahkan coba lagi semester depan</p>
				<button class="ghost" id="signIn">Login</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hallo, Selamat Datang di Website Laboratorium Komputer</h1>
				<p>Silahkan login untuk bisa kerja lembur namun digaji sedikit</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>


<script src="js/login.js"></script>
</body>
</html>
