<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


    <title>Login</title>
</head>
<body>
    <section class="login">
		<div class="login_box">
			
			<div class="left">
				<div class="top_link"><a href="/"><img src="/images/login/left.svg" alt="">Kembali Ke Home</a></div>
				<div id="alert-container" style="width: 	34%;" class="alert-container position-fixed">
					<% if (messages.error) { %>
						<div  class="alert alert-danger alert-dismissible p-0 m-0">
							<button style="height: fit-content;" type="button" class="close btn lh-1 fs-5 p-0 float-end me-1" data-dismiss="alert" aria-label="close" onclick="closeAlert(this)"><i class="bi bi-x-circle-fill"></i></button>
							<strong class="me-5 ms-2 mt-1">Error!</strong>
							<p class="me-5 ms-2"><%- messages.error %></p>
						</div>
					<% } %> 
				
				</div>

				<div class="contact">
					<form action="" method="post">
						<h3 id="h3">Login To Your Account</h3>

						<input type="text" name="username" placeholder="Username" required/>
						<input type="password" name="password" placeholder="Password" required/>
						<button class="submit"   id="button">LOGIN</button>
					</form>
					
				</div>
			</div>
			<div class="right">
				<div class="right-text">
					<h2>Laprak Ilkomp UINSU</h2>
					<h5>Selamat Datang Diwebsite Laporan Praktikum Ilmu Komputer UINSU</h5>
				</div>
				<div class="right-inductor"><img src="/images/login/line.png" alt=""></div>
			</div>
		</div>
		<!-- Button trigger modal -->



	</section>
	


	<script src="/js/login.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
	
</body>
</html>