<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <% for( let index = 0; index < array.length; index++ ) { %>
    
    <% } %>

    <% if (condition) { %>
     
    <% } %>

    <% datas.forEach(admin => { %>
     
    <% }) %>

    <% let i = 100; %>


</body>
</html>